<div class="row">
  <% @tmdbs['table']['results'].each do |tmdb| %>
    <div class="col-2">
      <div class="card">
        <% if tmdb['table']['poster_path'].present? %>
          <p><%= image_tag 'https://image.tmdb.org/t/p/w1280' + tmdb['table']['poster_path'],class: "card-img" %></p>
        <%end%>
        <div class="card-upperinfo">
          <%if tmdb['table']['title'].present?%>
            <p><%= link_to tmdb['table']['title'],movie_path(tmdb['table']['id']),data: {"turbolinks"=>false} %></p>
          <%end%>
          <% if tmdb['table']['release_date'].present? %>
            <p class="release-date"><%= tmdb['table']['release_date'] %></p>
          <%end%>
        </div>
      </div>
    </div>
  <%end%>
</div>